<a href="https://colab.research.google.com/github/Victory567/lab-comparing-regression-models/blob/master/Untitled2_(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import datetime
import warnings
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler

In [ ]:
df = pd.read_csv('we_fn_use_c_marketing_customer_value_analysis.csv')

In [ ]:
df = pd.DataFrame(np.random.randn(100, 3))

import numpy as np
from scipy import stats
df[(np.abs(stats.zscore(df)) < 3).all(axis=1)]

           0         1         2
0   0.325678  0.911278  0.886636
1  -0.051198 -0.359722 -1.536399
2   1.331537  1.411416  1.006363
3   0.481532 -0.447370 -0.325563
4   1.278778 -0.380892  1.232012
..       ...       ...       ...
95  1.342399  0.069235 -0.259530
96 -0.929803 -1.288776 -0.926249
97  1.284923 -0.790253  0.590807
98 -0.457179 -0.865944  0.477473
99 -0.514317 -1.790367  0.530692

[100 rows x 3 columns]

In [ ]:
df = pd.DataFrame({'Data':np.random.normal(size=200)})
df[np.abs(df.Data-df.Data.mean()) <= (3*df.Data.std())]
df[~(np.abs(df.Data-df.Data.mean()) > (3*df.Data.std()))]

         Data
0   -1.362583
1   -0.947096
2   -0.274835
3    0.502156
4    0.121288
..        ...
195 -1.004079
196 -0.536479
197  1.491338
198 -0.070154
199 -0.221433

[200 rows x 1 columns]

In [ ]:
def remove_outlier(df_in, col_name):
    q1 = df_in[col_name].quantile(0.25)
    q3 = df_in[col_name].quantile(0.75)
    iqr = q3-q1 #Interquartile range
    fence_low  = q1-1.5*iqr
    fence_high = q3+1.5*iqr
    df_out = df_in.loc[(df_in[col_name] > fence_low) & (df_in[col_name] < fence_high)]
    return df_out

In [ ]:
df = pd.DataFrame(
[[4, 7, 10],
[5, 8, 11],
[6, 9, 12]],
index=[1, 2, 3],
columns=['a', 'b', 'c'])

In [ ]:
X = df.select_dtypes(np.number)

In [ ]:
 scaler = MinMaxScaler()
X_num_transform=scaler.fit_transform(X)

In [ ]:
X_num_transform

array([[0. , 0. , 0. ],
       [0.5, 0.5, 0.5],
       [1. , 1. , 1. ]])

In [ ]:
import pandas as pd
>>> df = pd.DataFrame({'numeric': [1, 2, 3], 'not_numeric': ['A', 'B', 'C']})
>>> df['numeric'].dtype.kind in 'biufc'
>>> True
>>> df['not_numeric'].dtype.kind in 'biufc'
>>> False

False

In [ ]:
for col in df.select_dtypes('object'):
    print(df[col].value_counts(), '\n')

A    1
B    1
C    1
Name: not_numeric, dtype: int64

In [ ]:
import numpy as np
from sklearn.model_selection import train_test_split

In [ ]:
import numpy as np
>>> from sklearn.linear_model import LinearRegression
>>> from sklearn.model_selection import train_test_split

In [ ]:
>>> x = np.arange(20).reshape(-1, 1)
>>> y = np.array([5, 12, 11, 19, 30, 29, 23, 40, 51, 54, 74,
...               62, 68, 73, 89, 84, 89, 101, 99, 106])
>>> x
([[ 0],
       [ 1],
       [ 2],
       [ 3],
       [ 4],
       [ 5],
       [ 6],
       [ 7],
       [ 8],
       [ 9],
       [10],
       [11],
       [12],
       [13],
       [14],
       [15],
       [16],
       [17],
       [18],
       [19]])
>>> y
([  5,  12,  11,  19,  30,  29,  23,  40,  51,  54,  74,  62,  68,
        73,  89,  84,  89, 101,  99, 106])
>>> x_train, x_test, y_train, y_test = train_test_split(
...     x, y, test_size=8, random_state=0
... )

In [ ]:
>>> model = LinearRegression().fit(x_train, y_train)
>>> model.intercept_
3.1617195496417523
>>> model.coef_
([5.53121801])

[5.53121801]

In [ ]:
from sklearn.neighbors import NearestNeighbors
import numpy as np

In [ ]:
from array import array

In [ ]:
from numpy import int64

In [ ]:
Input_data = np.array([[-1, 1], [-2, 2], [-3, 3], [1, 2], [2, 3], [3, 4],[4, 5]])

In [ ]:
nrst_neigh = NearestNeighbors(n_neighbors = 3, algorithm = 'ball_tree')

In [ ]:
>>> X = [[0], [1], [2], [3]]
>>> y = [0, 0, 1, 1]
>>> from sklearn.neighbors import KNeighborsRegressor
>>> neigh = KNeighborsRegressor(n_neighbors=2)
>>> neigh.fit(X, y)
KNeighborsRegressor(...)
>>> print(neigh.predict([[1.5]]))

[0.5]

In [ ]:
>>> from sklearn.neural_network import MLPRegressor
>>> from sklearn.datasets import make_regression
>>> from sklearn.model_selection import train_test_split
>>> X, y = make_regression(n_samples=200, random_state=1)
>>> X_train, X_test, y_train, y_test = train_test_split(X, y,
...                                                     random_state=1)
>>> regr = MLPRegressor(random_state=1, max_iter=500).fit(X_train, y_train)
>>> regr.predict(X_test[:2])

>>> regr.score(X_test, y_test)

C:\Users\Dell\anaconda3\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:702: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (500) reached and the optimization hasn't converged yet.
  warnings.warn(

0.4162338898076593